<%= content_for(:header) do %>
  <h1><%= @user.name %> (@<%= @user.handle %>)</h1>
<% end %>

<ul>
  <div class="user-chirps">
    <%= render(@user.chirps) %>
  </div>
</ul>

<% if current_user == @user %>
  <%= link_to "Chirp!", new_user_chirp_path(@user), :class => "btn btn-primary", id: "chirp_link", remote: true %>
<% elsif @user.followers.include?(current_user) %>
  <span class="btn btn-primary">Currently following!</span>
<% else %>
 <%= link_to("Follow!", follows_path(follow: { :follower_id => current_user.id, :followed_id => @user.id }), :method => 'post', :class => "btn btn-primary") %>
<% end %>
